#--=======================================================================--#
#--=[ CHAVES ]============================================================--#
#--=======================================================================--#
set steam_webApiKey "chave_aqui"
sv_licenseKey chave_aqui_sem_aspas
